<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="merretDb" connectionString="DSN=ISeries;Uid=zsit_mpws;pwd=zsit_mpws;Provider=IBMDA400.DataSource.1;QueryTimeOut=0;" />
  </connectionStrings>
  <appSettings>
    <add key="merretSchema" value="V0608TDHHN" />
  </appSettings>
  
</configuration>