################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MerretAzureDemo.Services/bin/Debug
/MerretAzureDemo.Services/obj/Debug
/MerretAzureDemo.Sub/bin/Debug
/MerretAzureDemo.Sub/obj/Debug
/MerretAzureDemo.Ws/bin/Debug
/MerretAzureDemo.Ws/obj/Debug
/packages
/MerretAzureDemo.MerretDataAccess/bin/Debug
/MerretAzureDemo.MerretDataAccess/obj/Debug
/MerretAzureDemo.Pub/obj/Debug
/.vs/MerretAzureDemo/v15
/MerretAzureDemo.Pub/bin/Debug
